# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.x

# Figures
*.png

# Folders
xbuild
build
results
bin
alps_benchmark
illustrator
performance_test
examples/trans_absent/test
examples/trans_symmetric/platform_comet/test
plots
refs

# Other files
*.nb
*.lyx
*.dat
log*.txt
output.txt
