# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.x

# Folders
xbuild
build
results
bin
alps_benchmark
performance_test
examples/translation_sym/test
examples/no_sym/test

# Other files
*.nb
*.lyx
*.dat
